h1{
  color: red;
}

.column {
  float: left;
}

.left, .right {
  width: 10%;
}

.left{
  background-color: red;
}

.right{
  background-color: darkblue;
}

.middle {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
