h1{
  color: red;
}

{
  box-sizing: border-box;
}

.left, .right {
  width: 10%;
}

.middle {
  width: 80%;
}

.column {
  float: left;
  padding-left: 20px;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


* {
  box-sizing: border-box;
}
