h1{
  color: red;
}


.left, .right {
  width: 10%;
}

.middle {
  width: 90%;
}

.column {
  float: left;
  padding: 10px;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
